# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\AI\2048ForGroup13\2048\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
