.all_parts{
    width: 100%;
    height: 100vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ����� */
.left_part{
    width: 25%;
    height: 100vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ����� */

/* ���а񲿷� */
.ranking_box{
    width: 90%;
	height: 45%;
    background-color: #f1ede4;
    margin-top: 30%;
    display: -webkit-flex;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ranking_head{
    border-radius: 30px 30px 0 0;
    height: 25%;
    width: 100%;
	background-color: #c26251;
    line-height: 40px;
    font-size: 120%;
    text-align: center;
    color: #e6dfdc;
    display: flex;
    justify-content: center;
}

.ranking_content{
    height: 75%;
    width: 100%;
    background-color: #D08752;
    border-radius: 0px 0px 30px 30px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.ranking_items{
    height: 50%;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    line-height: 100%;
    border-bottom: saddlebrown dotted 2px;
    /*border-bottom: #D08752 2px;*/
}


/*rank 文字设计*/
.ranking_rank{
    height: 100%;
    width: 27%;
    text-align: center;
    font-size: 110%;
    line-height: 100%;
    color:  rgb(12, 10, 10);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ranking_name{
    height: 100%;
    width: 46%;
    text-align: center;
    font-size: 110%;
    line-height: 100%;
    color: rgb(12, 10, 10);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ranking_score{
    height: 100%;
    width: 27%;
    text-align: center;
    font-size: 110%;
    line-height: 100%;
    color:  rgb(12, 10, 10);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ���а񲿷� */

/* ��Ϣ������ */
.news_box{
    height: 30%;
    width: 98%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.news{
    height: 90%;
    width: 90%;
    border-radius: 8%;
    border:  #C75634;
    background-color:#D08752;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
/* ��Ϣ������ */


/* ��Ϸ���� */
.center_part{
    width: 50%;
    height: 100vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ��Ϸ���� */


/* �ұ���Ŀ */
.right_part{
    width: 25%;
    height: 100vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* �ұ���Ŀ */

/* ������ͼ */
.cell_wrap2{
    margin-top: 30%;
	background-color:  #D1C145;
	width: 250px;
	height: 250px;
	padding: 2.5%;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.box2{
	width: 99%;
	height: 99%;
	position: relative;
}
.cell2{
	float: left;
	height: 25%;
	width: 25%;
	box-sizing:border-box;
	border-radius: 15px;
	background-color:#F8F7DE;
	padding: 1.5px;
	background-clip: content-box;
}
.number_cell{
	position: absolute;
	box-sizing:border-box;
	width: 25%;
	height: 25%;
	padding: 1.5px;
	background-clip: content-box;
	left: 0;
	top: 0;
	transition: all 0.2s;
	color: #F8F7DE;
}
.number_cell_con{
	display: block;
		  -webkit-border-radius: 15px;
		  -moz-border-radius: 15px;
		  border-radius: 15px;
	width: 100%;
	height:calc(100% - 5px);
	height:-moz-calc(100% - 5px);
	height:-webkit-calc(100% - 5px);
}
.span_wrap{
	position: absolute;
	float: left;
	top: 20%;
	left: 50%;
}
.number_cell_con span{
	position: relative;
	left: -50%;
	font-size: 33px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
/*position��������λ��*/
 .pos00{left:0;top:0;}
 .pos01{left:0; top:25%; } 
 .pos02{left:0; top:50%; } 
 .pos03{left:0; top:75%; } 
 .pos10{left:25%; top:0; } 
 .pos11{left:25%; top:25%; } 
 .pos12{left:25%; top:50%; } 
 .pos13{left:25%; top:75%; } 
 .pos20{left:50%; top:0; } 
 .pos21{left:50%; top:25%; } 
 .pos22{left:50%; top:50%; } 
 .pos23{left:50%; top:75%; } 
 .pos30{left:75%; top:0; } 
 .pos31{left:75%; top:25%; } 
 .pos32{left:75%; top:50%; } 
 .pos33{left:75%; top:75%; }
/* ������ͼ */
