.all_parts{
    width: 100%;
    height: 100vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* 左边栏 */
.left_part{
    width: 25%;
    height: 100vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 左边栏 */

/* 排行榜部分 */
.ranking_box{
    width: 90%;
	height: 45%;
    background-color: rgb(68, 68, 68);
    margin-top: 30%;
    display: -webkit-flex;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ranking_head{
    border-radius: 30px 30px 0 0;
    height: 25%;
    width: 100%;
	background-color: #c26251;
    line-height: 40px;
    font-size: 120%;
    text-align: center;
    color: #e6dfdc;
    display: flex;
    justify-content: center;
}

.ranking_content{
    height: 75%;
    width: 100%;
    background-color: #ffffff50;
    border-radius: 0 0 30px 30px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.ranking_items{
    height: 50%;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    line-height: 100%;
    border-bottom: saddlebrown dotted 2px;
}

.ranking_rank{
    height: 100%;
    width: 27%;
    text-align: center;
    font-size: 110%;
    line-height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ranking_name{
    height: 100%;
    width: 46%;
    text-align: center;
    font-size: 110%;
    line-height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ranking_score{
    height: 100%;
    width: 27%;
    text-align: center;
    font-size: 110%;
    line-height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 排行榜部分 */

/* 消息栏部分 */
.news_box{
    height: 30%;
    width: 98%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.news{
    height: 90%;
    width: 90%;
    border-radius: 8%;
    border: orange solid 2px;
    background-color: rgba(248, 218, 184, 0.644);
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
/* 消息栏部分 */


/* 游戏部分 */
.center_part{
    width: 50%;
    height: 100vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 游戏部分 */


/* 右边栏目 */
.right_part{
    width: 25%;
    height: 100vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 右边栏目 */

/* 对手视图 */
.cell_wrap2{
    margin-top: 30%;
	background-color: rgba(0,0,0,0.2);
	width: 250px;
	height: 250px;
	padding: 2.5%;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.box2{
	width: 99%;
	height: 99%;
	position: relative;
}
.cell2{
	float: left;
	height: 25%;
	width: 25%;
	box-sizing:border-box;
	border-radius: 15px;
	background-color: rgba(230,190,160,0.2);
	padding: 1.5px;
	background-clip: content-box;
}
.number_cell{
	position: absolute;
	box-sizing:border-box;
	width: 25%;
	height: 25%;
	padding: 1.5px;
	background-clip: content-box;
	left: 0;
	top: 0;
	transition: all 0.2s;
	color: #e8ddc7;
}
.number_cell_con{
	display: block;
		  -webkit-border-radius: 15px;
		  -moz-border-radius: 15px;
		  border-radius: 15px;
	width: 100%;
	height:calc(100% - 5px);
	height:-moz-calc(100% - 5px);
	height:-webkit-calc(100% - 5px);
}
.span_wrap{
	position: absolute;
	float: left;
	top: 20%;
	left: 50%;
}
.number_cell_con span{
	position: relative;
	left: -50%;
	font-size: 33px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
/*position数组坐标位置*/
 .pos00{left:0;top:0;}
 .pos01{left:0; top:25%; } 
 .pos02{left:0; top:50%; } 
 .pos03{left:0; top:75%; } 
 .pos10{left:25%; top:0; } 
 .pos11{left:25%; top:25%; } 
 .pos12{left:25%; top:50%; } 
 .pos13{left:25%; top:75%; } 
 .pos20{left:50%; top:0; } 
 .pos21{left:50%; top:25%; } 
 .pos22{left:50%; top:50%; } 
 .pos23{left:50%; top:75%; } 
 .pos30{left:75%; top:0; } 
 .pos31{left:75%; top:25%; } 
 .pos32{left:75%; top:50%; } 
 .pos33{left:75%; top:75%; }
/* 对手视图 */
